grafana.nextlabs.cz {
    reverse_proxy http://grafana:3000
}

api.nextlabs.cz {
    reverse_proxy http://api:8000
}

:9092 {
    reverse_proxy cadvisor:9092
}

:9090 {
    reverse_proxy prometheus:9090
}

:9093 {
    reverse_proxy alertmanager:9093
}

:9091 {
    reverse_proxy pushgateway:9091
}