grafana.nextlabs.cz {
    reverse_proxy http://grafana:3000
}

api.nextlabs.cz {
    reverse_proxy http://api:8000
}

nextlabs.cz {
    reverse_proxy http://nextjs:3000
}

adminer.nextlabs.cz {
    reverse_proxy http://adminer:8080
}

phpmyadmin.nextlabs.cz {
    reverse_proxy http://phpmyadmin:80
}
